Service References/wsprotheus/Portalservice1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://casaeterra.com" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://casaeterra.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://casaeterra.com">
      <s:element name="GetUrls">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUrlsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUrlsResult" type="tns:AURLACCESLIST" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AURLACCESLIST">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExtensionData" type="tns:ExtensionDataObject" />
          <s:element minOccurs="0" maxOccurs="1" name="AURLS" type="tns:ArrayOfAURL" />
          <s:element minOccurs="0" maxOccurs="1" name="CDESCRI" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CMESSAGE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LSTATUS" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ExtensionDataObject" />
      <s:complexType name="ArrayOfAURL">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AURL" nillable="true" type="tns:AURL" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AURL">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExtensionData" type="tns:ExtensionDataObject" />
          <s:element minOccurs="0" maxOccurs="1" name="CTITLE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CURL" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetUrlsSoapIn">
    <wsdl:part name="parameters" element="tns:GetUrls" />
  </wsdl:message>
  <wsdl:message name="GetUrlsSoapOut">
    <wsdl:part name="parameters" element="tns:GetUrlsResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="GetUrls">
      <wsdl:input message="tns:GetUrlsSoapIn" />
      <wsdl:output message="tns:GetUrlsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUrls">
      <soap:operation soapAction="http://casaeterra.com/GetUrls" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUrls">
      <soap12:operation soapAction="http://casaeterra.com/GetUrls" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://10.4.0.80/PortalService/Portalservice.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://10.4.0.80/PortalService/Portalservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>